.idea
__pycache__
test.py
img/test.bmp
venv
AccountRecord.txt
/40_x.txt
/40_1.txt
/40_2.txt
/40_huizhang.txt
/zhanghao.txt
/zhanghao_init.txt
/zhanghao2.txt
/zujianhanghui_modify.py
/批量重命名，请先把代码复制到automator再运行py文件.zip
/重命名代码.txt
